set surround
set incsearch

" Navigate splits
nnoremap <C-k> :action VimWindowUp<CR>
nnoremap <C-j> :action VimWindowDown<CR>
nnoremap <C-h> :action VimWindowLeft<CR>
nnoremap <C-l> :action VimWindowRight<CR>
nnoremap <C-e> :action VimWindowSplitVertical<CR>
nnoremap <C-q> :action VimWindowSplitHorizontal<CR>
nnoremap <C-w> :action VimWindowClose<CR>

nnoremap <leader>f :action ReformatCode<CR>
