[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/minibufexpl"]
	path = vim/bundle/minibufexpl
	url = git://github.com/fholgado/minibufexpl.vim.git
[submodule "vim/bundle/code_complete"]
	path = vim/bundle/code_complete
	url = git://github.com/mbbill/code_complete.git
[submodule "vim/bundle/clang_complete"]
	path = vim/bundle/clang_complete
	url = git://github.com/Rip-Rip/clang_complete.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "vim/bundle/snipmate"]
	path = vim/bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
